{% extends "base.html" %} 
{% load static %} 
{% block title %} Home Page {% endblock title %} 
{% load crispy_forms_tags %}
{% block content %}
<div class="container mx-auto my-5">
 
    <img src="{% static './car.avif' %}" alt="" />
    <h1>{{car.title}}</h1>
    <h3>Quantity: {{car.quantity}}</h3>
  <h3>Brand: {{car.brand.name}}</h3>
  <h3>${{car.price}}</h3>
  <p>{{car.description}}</p>
  {% if request.user.is_authenticated  %}
  <button class="btn btn-primary"><a class="text-white text-decoration-none" href="{% url 'buy_car' car.id %}">Buy now</a></button>
  {% endif %}
</div>
<div class="container py-5">
  <div class="row">
    <div class="col-md-8">
      <form method="post">
        {% csrf_token %}
        {{form | crispy}}
        <button class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>

{% endblock content %}
